<!DOCTYPE html!>
<html lang="en" ng-app="jester">
  <head>
    <title>Jester Markdown Previewer</title>
    <!-- web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="bower_components/highlightjs/styles/github-gist.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/github-markdown-css/github-markdown.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/app.css" />

    <!-- scripts -->
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/highlightjs/highlight.pack.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="bower_components/marked/lib/marked.js"></script>
    <script src="bower_components/angular-marked/angular-marked.js"></script>
    <script src="bower_components/ng-debounce/angular-debounce.js"></script>
    <script src="scripts/app.js"></script>
  </head>
  <body ng-controller="editorCtrl">
    <div id="content">
      <div id="editor">
        <div id="editor-menubar">
          <div class="column text-left">
            <button ng-click="newDocument()">
              <i class="fa fa-fw fa-file-text-o"></i> New Document
            </button>
          </div>
          <div class="column text-right">
            <label for="selTheme">Theme:</label>
            <select id="selTheme"
              ng-model="theme"
              ng-options="theme.val as theme.lbl group by theme.ilk for theme in availableThemes"></select>
          </div>
        </div><!-- #editor-menubar -->

        <div id="ace-editor"
          ng-model="rawContent"
          ui-ace="{
            mode: 'markdown',
            theme: theme,
            showGutter: true,
            onLoad: configureAce
          }">
        </div><!-- #ace-editor -->
      </div><!-- #editor -->

      <div id="preview">
        <div class="markdown-body"
          ng-if="preview !== ''"
          ng-bind-html="preview"></div>

        <div class="markdown-body" ng-if="preview === ''">
          <h1>Greetings!</h1>
          <p>This is Jester! A simple github markdown editor/previewer.</p>
          <ul>
            <li><a href="https://help.github.com/articles/github-flavored-markdown/">Github flavored markdown</a> on the left</li>
            <li>Github styled output on the right</li>
            <li>Your work is saved automatically to local storage after 1 second of inactivity.</li>
          </ul>
          <p><strong>Enjoy!</strong></p>
        </div>
      </div><!-- #preview -->
    </div><!-- #content -->

    <div id="footer">
      <div class="column text-left">
        Built by CITguy -
        <a href="https://twitter.com/CITguy"><i class="fa fa-twitter"></i></a>
        -
        <a href="https://github.com/CITguy"><i class="fa fa-github-alt"></i></a>
      </div>
      <div class="column text-center">
        <code>Version 0.4.0</code>
      </div>
      <div class="column text-right">
        <a href="https://github.com/CITguy/jester-spa">Fork on Github</a>
        <i class="fa fa-fw fa-code-fork"></i>
      </div>
    </div><!-- #footer -->
  </body>
</html>
