html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

#content {
  flex: 1 0;

  display: flex;
  flex-flow: row nowrap;
}

#footer {
  z-index: 10;
  flex: 0 0 auto;
  background-color: #dedede;
  border-top: 1px solid #ccc;
  padding: 2px 16px;
  font-size: 12px;

  display: flex;
  flex-flow: row nowrap;
}

#editor-menubar {
  z-index: 10;
  /* flex item */
  flex: 0 0 auto;
  /* flex container */
  display: flex;
  flex-flow: row nowrap;

  font-size: 12px;
  padding: 2px 6px;
  background-color: #dedede;
  border-bottom: 1px solid #ccc;
}

a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}

#preview {
  z-index: 5;

  flex: 1 0;
  padding: 20px;
  overflow: scroll;

  display: flex;
  flex-flow: column nowrap;
  /* NOTE: doesn't look right with dark theme */
  /*box-shadow: -16px 0px 12px -12px #ccc;*/
}

.markdown-body {
  flex: 1 0;
}
.column {
  flex: 1 0;
}

#editor {
  flex: 1 0;
  border-right: 1px solid #ccc;

  display: flex;
  flex-flow: column nowrap;
}

#ace-editor {
  flex: 1 0;
}

.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.no-flex {
  flex: 0 0 auto;
}
